@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pretendard: var(--font-pretendard);
}

@theme {
  --color-*: initial;
  --color-primary: #4c79ff;
  --color-primary-10: rgba(76, 121, 255, 0.1);
  --color-primary-30: rgba(76, 121, 255, 0.3);

  --color-indigo: #023e99;
  --color-blue: #2563eb;
  --color-red: #dc2626;
  --color-yellow: #fbbf24;
  --color-green: #22c55e;
  --color-fuchsia: #ff47ff;
  --color-white: #ffffff;
  --color-black: #000000;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f0f2f5;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #ccd0d6;
  --color-gray-400: #969da8;
  --color-gray-500: #717887;
  --color-gray-600: #4b5563;
  --color-gray-700: #394252;
  --color-gray-800: #1f2937;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard);
}
