@import 'tailwindcss';
@import '../src/lib/style/typography.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pretendard: var(--font-pretendard);
  --font-digital-numbers: var(--font-digital-numbers);
}

@theme {
  /* base color */
  --color-*: initial;
  --color-primary: #4c79ff;
  --color-primary-10: rgba(76, 121, 255, 0.1);
  --color-primary-30: rgba(76, 121, 255, 0.3);

  --color-indigo: #023e99;
  --color-blue: #2563eb;
  --color-red: #dc2626;
  --color-yellow: #fbbf24;
  --color-green: #22c55e;
  --color-fuchsia: #ff47ff;
  --color-white: #ffffff;
  --color-black: #000000;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f0f2f5;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #ccd0d6;
  --color-gray-400: #969da8;
  --color-gray-500: #717887;
  --color-gray-600: #4b5563;
  --color-gray-700: #394252;
  --color-gray-800: #1f2937;

  /* semantic color */
  --color-content-primary: var(--color-primary);
  --color-content-secondary: var(--color-indigo);
  --color-content-white: var(--color-white);

  --color-background-primary: var(--color-primary);
  --color-background-primary-light: var(--color-primary-10);
  --color-background-primary-dark: var(--color-primary-30);
  --color-background-gray-light: var(--color-gray-50);
  --color-background-gray-dark: var(--color-gray-100);
  --color-background-disabled: var(--color-gray-200);
  --color-background-disabled-dark: var(--color-gray-400);
  --color-background-white: var(--color-white);

  --color-border-gray: var(--color-gray-300);
  --color-border-primary: var(--color-primary);
  --color-border-white: var(--color-white);

  --color-feedback-informative: var(--color-blue);
  --color-feedback-negative: var(--color-red);
  --color-feedback-notice: var(--color-yellow);
  --color-feedback-positive: var(--color-green);

  --color-text-primary: var(--color-primary);
  --color-text-primary-30: var(--color-primary-30);
  --color-text-secondary: var(--color-indigo);
  --color-text-g500: var(--color-gray-500);
  --color-text-g600: var(--color-gray-600);
  --color-text-g700: var(--color-gray-700);
  --color-text-g800: var(--color-gray-800);
  --color-text-disabled-300: var(--color-gray-300);
  --color-text-disabled-400: var(--color-gray-400);
  --color-text-white: var(--color-white);

  --color-dim-b50: rgba(0, 0, 0, 0.5);
  --color-dim-b70: rgba(0, 0, 0, 0.7);
  --color-dim-w50: rgba(255, 255, 255, 0.5);

  --color-state-disabled: var(--color-gray-400);
  --color-state-hover: rgba(0, 0, 0, 0.1);
  --color-state-active: rgba(0, 0, 0, 0.1);
  --color-state-focus: var(--color-fuchsia);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard);
  font-feature-settings: 'ss01';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}
